In [23]:
# import necessary libraries
import pandas as pd

In [24]:
# assigning data to dataframe created from original excel file
data = pd.read_excel('social_data.xlsx')
data.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
0,2023-03-31 19:55:43.192,CSGO,TWITTER,N/A,0.0,0.0,Text
1,2023-03-31 19:49:35.243,CSGO,TWITTER,N/A,0.0,0.0,Text
2,2023-03-31 19:49:33.535,CSGO,TWITTER,N/A,0.0,0.0,Text
3,2023-03-31 19:49:31.583,CSGO,TWITTER,N/A,0.0,0.0,Text
4,2023-03-31 19:43:42.590,CSGO,TWITTER,Community Engagement,9517.0,1215.0,Video

In [25]:
# ensuring shape of dataframe
data.shape

(3479, 7)

In [26]:
# finding unique values for Account feature
data['Account'].unique()

array(['CSGO', 'General ', 'DOTA2', 'Content Creators', 'Valorant',
       'General'], dtype=object)

In [27]:
# finding unique values for Account Type feature
data['Account Type'].unique()

array(['TWITTER', 'FBPAGE', 'INSTAGRAM', 'TIKTOK_BUSINESS', 'YOUTUBE',
       'LINKEDIN_COMPANY'], dtype=object)

In [28]:
# finding unique values for Campaign Name feature
data['Campaign Name'].unique()

array(['N/A ', 'Community Engagement ', 'Evergreen ', 'Evil Exhibited '],
      dtype=object)

In [29]:
# finding unique values for Media Type feature
data['Media Type'].unique()

array(['Text', 'Video', 'Photo', 'Link', 'Carousel', 'Mixed', 'Album'],
      dtype=object)

In [30]:
# find average engagement rate across entire dataset
avg_engagement_rate = data['Total Engagements'].sum()/data['Total Impressions'].sum()
avg_engagement_rate

0.08634264184427354

In [31]:
def fifteen_percenters(engagement, impressions):
    """This function takes in the Total Engagement series as well as the Total Impressions series, finds each row's average, summing up 
    instances that exceed 15%, thus finding the proportion that do find the likelihood of getting at least 15% engagement rate."""
    i = 0
    for a in range(0, data.shape[0]):
        if engagement[a] / impressions[a] >= 0.15:
            i += 1
        else:
            pass
    return i / data.shape[0]
    
fifteen_percenters(data['Total Engagements'], data['Total Impressions'])

C:\Users\cschow\AppData\Local\Temp\ipykernel_3612\1760298334.py:6: RuntimeWarning: invalid value encountered in double_scalars
  if engagement[a] / impressions[a] >= 0.15:

0.06496119574590399

##### As shown by the output, the percentage of instances that see a 15% engagement rate or higher is ~6.5%

In [32]:
data['Published Date']=data['Published Date'].values.astype(str) # convert Publish Date values to strings
pattern = r'(\d{4})-(\d{2})-(\d{2})\S(\d{2}):(\d{2}):(\d{2}\.\d{3})' # using Regex, finds and parses new string date
data[['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second']] = data['Published Date'].str.extract(pattern) # creates new columns for each unique value
data.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type,Year,Month,Day,Hour,Minute,Second
0,2023-03-31T19:55:43.192000000,CSGO,TWITTER,N/A,0.0,0.0,Text,2023,03,31,19,55,43.192
1,2023-03-31T19:49:35.243000000,CSGO,TWITTER,N/A,0.0,0.0,Text,2023,03,31,19,49,35.243
2,2023-03-31T19:49:33.535000000,CSGO,TWITTER,N/A,0.0,0.0,Text,2023,03,31,19,49,33.535
3,2023-03-31T19:49:31.583000000,CSGO,TWITTER,N/A,0.0,0.0,Text,2023,03,31,19,49,31.583
4,2023-03-31T19:43:42.590000000,CSGO,TWITTER,Community Engagement,9517.0,1215.0,Video,2023,03,31,19,43,42.590

In [44]:
data['Hour'].unique()

array(['19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '09',
       '08', '07', '23', '21', '20', '22', '06', '05', '04', '03', '00',
       '02'], dtype=object)

In [33]:
data['Day'].unique()

array(['31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21',
       '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10',
       '09', '08', '07', '06', '05', '04', '03', '02', '01'], dtype=object)

In [34]:
# querying dataframes to only include a week's worth of data for each month included in dataset
jan_one_week_data = data.loc[(data['Day']>'24') & (data['Month']=='01')]
feb_one_week_data = data.loc[(data['Day']<'08') & (data['Month']=='02')]
mar_one_week_data = data.loc[(data['Day']>'24') & (data['Month']=='03')]

In [35]:
# remaps date "numeric" values to respective days for month of jan
jan_dict = {
    '25': "Wed",
    '26': "Thurs",
    '27': "Fri",
    '28': "Sat",
    '29': "Sun",
    '30': "Mon",
    '31': "Tues"
}

jan_one_week_data = jan_one_week_data.replace({'Day': jan_dict})
# jan_one_week_data.head()

In [36]:
# remaps date "numeric" values to respective days for month of feb
feb_dict = {
    '01': "Wed",
    '02': "Thurs",
    '03': "Fri",
    '04': "Sat",
    '05': "Sun",
    '06': "Mon",
    '07': "Tues"
}

feb_one_week_data = feb_one_week_data.replace({'Day': feb_dict})

In [37]:
# remaps date "numeric" values to respective days for month of Mar
mar_dict = {
    '25': "Sat",
    '26': "Sun",
    '27': "Mon",
    '28': "Tues",
    '29': "Wed",
    '30': "Thurs",
    '31': "Fri"
}

mar_one_week_data = mar_one_week_data.replace({'Day': mar_dict})

In [38]:
jan_one_week_data = jan_one_week_data.groupby('Day').sum().reset_index()
jan_one_week_data.head(7)

     Day  Total Impressions  Total Engagements
0    Fri           359343.0            20680.0
1    Mon            95784.0             4933.0
2    Sat            69285.0              843.0
3    Sun           627687.0           119741.0
4  Thurs          1148441.0            89099.0
5   Tues            17412.0              821.0
6    Wed           553167.0            58314.0

In [39]:
feb_one_week_data = feb_one_week_data.groupby('Day').sum().reset_index()
feb_one_week_data.head(7)

     Day  Total Impressions  Total Engagements
0    Fri           459991.0             8712.0
1    Mon           131642.0             3632.0
2    Sat            84439.0             1768.0
3    Sun            15947.0              249.0
4  Thurs           305970.0             9250.0
5   Tues            51621.0             1307.0
6    Wed           247170.0             4346.0

In [40]:
mar_one_week_data = mar_one_week_data.groupby('Day').sum().reset_index()
mar_one_week_data.head(7)

     Day  Total Impressions  Total Engagements
0    Fri           482494.0            40122.0
1    Mon           200152.0             3197.0
2    Sat           252579.0             5502.0
3    Sun           807236.0            56199.0
4  Thurs           725855.0            65810.0
5   Tues           295752.0             5928.0
6    Wed           733297.0            43483.0

In [41]:
# finding averages for each day of the week using list comprhension
jan_one_week_data['Day Averages']=[x / y for x, y in zip(jan_one_week_data['Total Engagements'], jan_one_week_data['Total Impressions'])]
jan_one_week_data

     Day  Total Impressions  Total Engagements  Day Averages
0    Fri           359343.0            20680.0      0.057549
1    Mon            95784.0             4933.0      0.051501
2    Sat            69285.0              843.0      0.012167
3    Sun           627687.0           119741.0      0.190765
4  Thurs          1148441.0            89099.0      0.077583
5   Tues            17412.0              821.0      0.047151
6    Wed           553167.0            58314.0      0.105418

In [42]:
feb_one_week_data['Day Averages']=[x / y for x, y in zip(feb_one_week_data['Total Engagements'], feb_one_week_data['Total Impressions'])]
feb_one_week_data

     Day  Total Impressions  Total Engagements  Day Averages
0    Fri           459991.0             8712.0      0.018940
1    Mon           131642.0             3632.0      0.027590
2    Sat            84439.0             1768.0      0.020938
3    Sun            15947.0              249.0      0.015614
4  Thurs           305970.0             9250.0      0.030232
5   Tues            51621.0             1307.0      0.025319
6    Wed           247170.0             4346.0      0.017583

In [43]:
mar_one_week_data['Day Averages']=[x / y for x, y in zip(mar_one_week_data['Total Engagements'], mar_one_week_data['Total Impressions'])]
mar_one_week_data

     Day  Total Impressions  Total Engagements  Day Averages
0    Fri           482494.0            40122.0      0.083155
1    Mon           200152.0             3197.0      0.015973
2    Sat           252579.0             5502.0      0.021783
3    Sun           807236.0            56199.0      0.069619
4  Thurs           725855.0            65810.0      0.090665
5   Tues           295752.0             5928.0      0.020044
6    Wed           733297.0            43483.0      0.059298