In [1]:
# import necessary libraries
import pandas as pd

In [2]:
# assigning data to dataframe created from original excel file
data = pd.read_excel('social_data.xlsx')
data.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type
0,2023-03-31 19:55:43.192,CSGO,TWITTER,N/A,0.0,0.0,Text
1,2023-03-31 19:49:35.243,CSGO,TWITTER,N/A,0.0,0.0,Text
2,2023-03-31 19:49:33.535,CSGO,TWITTER,N/A,0.0,0.0,Text
3,2023-03-31 19:49:31.583,CSGO,TWITTER,N/A,0.0,0.0,Text
4,2023-03-31 19:43:42.590,CSGO,TWITTER,Community Engagement,9517.0,1215.0,Video

In [3]:
# ensuring shape of dataframe
data.shape

(3479, 7)

In [4]:
# finding unique values for Account feature
data['Account'].unique()

array(['CSGO', 'General ', 'DOTA2', 'Content Creators', 'Valorant',
       'General'], dtype=object)

In [5]:
# finding unique values for Account Type feature
data['Account Type'].unique()

array(['TWITTER', 'FBPAGE', 'INSTAGRAM', 'TIKTOK_BUSINESS', 'YOUTUBE',
       'LINKEDIN_COMPANY'], dtype=object)

In [6]:
# finding unique values for Campaign Name feature
data['Campaign Name'].unique()

array(['N/A ', 'Community Engagement ', 'Evergreen ', 'Evil Exhibited '],
      dtype=object)

In [7]:
# finding unique values for Media Type feature
data['Media Type'].unique()

array(['Text', 'Video', 'Photo', 'Link', 'Carousel', 'Mixed', 'Album'],
      dtype=object)

In [8]:
# find average engagement rate across entire dataset
avg_engagement_rate = data['Total Engagements'].sum()/data['Total Impressions'].sum()
avg_engagement_rate

0.08634264184427354

In [9]:
def fifteen_percenters(engagement, impressions):
    """This function takes in the Total Engagement series as well as the Total Impressions series, finds each row's average, summing up 
    instances that exceed 15%, thus finding the proportion that do find the likelihood of getting at least 15% engagement rate."""
    i = 0
    for a in range(0, data.shape[0]):
        if engagement[a] / impressions[a] >= 0.15:
            i += 1
        else:
            pass
    return i / data.shape[0]
    
fifteen_percenters(data['Total Engagements'], data['Total Impressions'])

C:\Users\cschow\AppData\Local\Temp\ipykernel_18232\1760298334.py:6: RuntimeWarning: invalid value encountered in double_scalars
  if engagement[a] / impressions[a] >= 0.15:

0.06496119574590399

In [10]:
# extracting month, day, and hour from Published Date and assigning them to newly created columns. 
from datetime import datetime

data['Month'] = [x.strftime('%m') for x in data['Published Date']]
data['Day'] = [y.strftime('%A') for y in data['Published Date']]
data.head()

,Published Date,Account,Account Type,Campaign Name,Total Impressions,Total Engagements,Media Type,Month,Day
0,2023-03-31 19:55:43.192,CSGO,TWITTER,N/A,0.0,0.0,Text,03,Friday
1,2023-03-31 19:49:35.243,CSGO,TWITTER,N/A,0.0,0.0,Text,03,Friday
2,2023-03-31 19:49:33.535,CSGO,TWITTER,N/A,0.0,0.0,Text,03,Friday
3,2023-03-31 19:49:31.583,CSGO,TWITTER,N/A,0.0,0.0,Text,03,Friday
4,2023-03-31 19:43:42.590,CSGO,TWITTER,Community Engagement,9517.0,1215.0,Video,03,Friday

In [11]:
data['Day'].unique()

array(['Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday',
       'Saturday'], dtype=object)

In [12]:
# groupby Day of the week only, subsequently adding up Total Impressions and Total Engagements
day_data = data.groupby(['Day']).sum().reset_index()

In [13]:
# finds average of each day, no matter what month and sorts them in descending order
day_data['Daily Average'] = day_data['Total Engagements']/day_data['Total Impressions']
day_data.sort_values(by=['Daily Average'], ascending=False)

         Day  Total Impressions  Total Engagements  Daily Average
3     Sunday          3731347.0           395480.0       0.105989
5    Tuesday          7197026.0           731487.0       0.101637
4   Thursday          8522704.0           764920.0       0.089751
0     Friday          7481113.0           642596.0       0.085896
6  Wednesday          5736454.0           448516.0       0.078187
1     Monday          2476029.0           166279.0       0.067156
2   Saturday          3028493.0           146694.0       0.048438

In [14]:
# similar as above, but including month as well
monthly_data = data.groupby(['Day', 'Month']).sum().reset_index()

In [15]:
# calculates average engagement based on everyday for each month, sorting them in descending order
monthly_data['Monthly Daily Average'] = monthly_data['Total Engagements']/monthly_data['Total Impressions']
monthly_data.sort_values(by=['Monthly Daily Average'], ascending=False)

,Day,Month,Total Impressions,Total Engagements,Monthly Daily Average
9,Sunday,01,1393921.0,178796.0,0.128268
12,Thursday,01,4040344.0,489420.0,0.121133
16,Tuesday,02,2117476.0,253600.0,0.119765
18,Wednesday,01,1163195.0,128537.0,0.110503
17,Tuesday,03,1109867.0,114700.0,0.103346
10,Sunday,02,1257659.0,128291.0,0.102008
2,Friday,03,4272897.0,395715.0,0.092610
15,Tuesday,01,3969683.0,363187.0,0.091490
3,Monday,01,713858.0,64802.0,0.090777
1,Friday,02,2711488.0,222259.0,0.081969
11,Sunday,03,1079767.0,88393.0,0.081863
20,Wednesday,03,2450374.0,198137.0,0.080860
4,Monday,02,756124.0,47563.0,0.062904
14,Thursday,03,2027869.0,125239.0,0.061759
13,Thursday,02,2454491.0,150261.0,0.061219
19,Wednesday,02,2122885.0,121842.0,0.057395
7,Saturday,02,1850490.0,104055.0,0.056231
5,Monday,03,1006047.0,53914.0,0.053590
0,Friday,01,496728.0,24622.0,0.049568
8,Saturday,03,873260.0,32402.0,0.037105
6,Saturday,01,304743.0,10237.0,0.033592

#### Based on both outputs, we can see Sunday and Tuesday generally see higher average rates of engagement.